.card {
    border: none;
}

/*Nav*/
.navbar {
    background: white;
    height: 80px;
    width: 100%;
    padding-left: 10px;
    padding-right: 10px;

}

.navbar-brand {
    color: black;
    font-size: 1.5em;
}

.navbar-brand:hover {
    color: #8FBBA7;
    font-size: 1.5em;
}

.navbar-brand:active {
    color: #2A6459;
    font-size: 1.5em;
}

.nav-link {
    color: black;
    font-size: 1.5em;
}

.nav-link:hover {
    color: #8FBBA7;
    font-size: 1.5em;
}

.nav-link:active {
    color: #2A6359;
    font-size: 1.5em;



/* FOOTER  */

.footer-basic-centered{
	background-color: #dce0e4;
	box-shadow: 0 1px 1px 0 rgba(0, 0, 0, 0.12);
	box-sizing: border-box;
	width: 100%;
	text-align: center;
	font: normal 16px sans-serif;
	padding: 25px;
	margin-top: 50px;
}

.footer-basic-centered .footer-contact-me{
	color: black;
	font-size: 22px;
	margin: 0;
}

.footer-basic-centered .footer-copyright{
	color: black;
	font-size: 14px;
	margin: 0;
}

.footer-basic-centered .footer-links{
	list-style: none;
	font-weight: bold;
	color:  black;
	padding: 35px 0 23px;
	margin: 0;
}

.footer-basic-centered .footer-links a{
	display:inline-block;
	text-decoration: none;
	color: inherit;
}

@media (max-width: 600px) {

	.footer-basic-centered{
		padding: 35px;
	}

	.footer-basic-centered .footer-company-motto{
		font-size: 18px;
	}

	.footer-basic-centered .footer-company-name{
		font-size: 12px;
	}

	.footer-basic-centered .footer-links{
		font-size: 14px;
		padding: 25px 0 20px;
	}

	.footer-basic-centered .footer-links a{
		line-height: 1.8;
	}
}
